.Contact{
  background-size:cover;
  background-repeat:no-repeat;
  height:650px;
}
.bg{
  background-image: url("../Kiran/Images/contactus.jpg");
  background-repeat : no-repeat;
  background-size: cover;

}